<!DOCTYPE html>
<html>
<head>
	<title>Search articles</title>
</head>
<body>

<section>
{{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
    {{ form_widget(form) }}
    <button type="submit">send</button>
{{ form_end(form) }}
<br>
Resultados: {{results | length}}
</section>

</body>
</html>